{
    "janusServers": [
        {
            "url": "",
            "id": ""
        }
    ],
    "janusApiSecret": "",
    "janusRoomNamePrefix": "prod",
    "janusRoomNameIntPrefix": 1,
    "isBehindProxy": true,
    "restrictLoginByIp": true,
    "abuseIpDBApiKey": ""
}