{
    "enableSSL": false,
    "persistorUrl": "",
    "persistorSecret": "",
    "janusServers": [
        {
            "url": "",
            "id": ""
        }
    ],
    "janusApiSecret": "",
    "janusRoomNamePrefix": "prod",
    "janusRoomNameIntPrefix": 1,
    "isBehindProxy": true,
    "restrictLoginByIp": true,
    "abuseIpDBApiKey": "",
    "adminKey": "",
    "censoredWordsRegex": "(poop|peepee)",
    "noStreamIPs": [],
    "siteAreas": [
        {
            "id": "one",
            "name": "One",
            "language": "ja",
            "restrictLanguage": true
        },
        {
            "id": "two",
            "name": "Two",
            "unlisted": true
        }
    ],
    "blockedVpnDomainRegex": "$^"
}