{
    "enableSSL": false,
    "persistorUrl": "",
    "persistorSecret": "",
    "janusServers": [
        {
            "url": "",
            "id": ""
        }
    ],
    "janusApiSecret": "",
    "janusRoomNamePrefix": "prod",
    "janusRoomNameIntPrefix": 1,
    "isBehindProxy": true,
    "restrictLoginByIp": true,
    "abuseIpDBApiKey": "",
    "adminKey": "",
    "censoredWordsRegex": "(poop|peepee)",
    "noStreamIPs": [],
    "siteAreas": [
        {"id": "gen", "name": "一般 (_gen)", "language": "ja", "restrictLanguage": true},
        {"id": "for", "name": "International (_for)", "language": "any"}
    ],
    "blockedVpnDomainRegex": "$^"
}