<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='stylesheet' href='style/main.css' />
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <title>ギコっぽいっぽい</title>
</head>

<body>
    <div id="vue-app" v-cloak>
        <div id="login-page" v-if="!loggedIn">
            <header>
                <div>
                    <h1>{{ $t("ui.title") }}</h1>
                    <h2>{{ $t("ui.subtitle") }}</h2>
                </div>
            </header>
            <form id="login-form">
                <div id="area-selection">
                    <label for="gen-selection"><input type="radio" id="gen-selection" value="gen" v-model="areaId"
                            v-on:click="setLanguage('ja')">
                        一般 (_gen)</label>
                    <label for="for-selection"><input type="radio" id="for-selection" value="for" v-model="areaId"
                            v-on:click="setLanguage('en')">
                        International (_for)</label>
                </div>
                <div>
                    <label>{{ $t("ui.label_username") }}</label> <input type="text" v-model="username" maxlength="20" />
                </div>
                <div id="character-selection">
                    <label for="giko-selection">
                        <input type="radio" id="giko-selection" value="giko" v-model="characterId" >
                        <img src="characters/giko/front-standing.svg" />
                    </label>
                    <label for="naito-selection">
                        <input type="radio" id="naito-selection" value="naito" v-model="characterId">
                        <img src="characters/naito/front-standing.svg" />
                    </label>
                    <label for="furoshiki-selection">
                        <input type="radio" id="furoshiki-selection" value="furoshiki" v-model="characterId">
                        <img src="characters/furoshiki/front-standing.svg" />
                    </label>
                    <label for="naitoapple-selection">
                        <input type="radio" id="naitoapple-selection" value="naitoapple" v-model="characterId">
                        <img src="characters/naitoapple/front-standing.svg" />
                    </label>
                    <label for="hikki-selection">
                        <input type="radio" id="hikki-selection" value="hikki" v-model="characterId">
                        <img src="characters/hikki/front-standing.svg" />
                    </label>
                    <label for="tinpopo-selection">
                        <input type="radio" id="tinpopo-selection" value="tinpopo" v-model="characterId">
                        <img src="characters/tinpopo/front-standing.svg" />
                    </label>
                </div>
                <button v-on:click="login" :disabled="isLoggingIn">Login</button>
            </form>
            <div id="change-log">
                @CHANGE_LOG@
            </div>
        </div>
        <div id="stage" v-if="loggedIn">
            <h2 class="big-red-alert" v-if="connectionLost">
                {{ $t("msg.connection_lost") }}
            </h2>
            <h2 class="big-red-alert" v-if="steppingOnPortalToNonAvailableRoom">
                {{ $t("msg.room_unavailable") }}
            </h2>
            <div id="canvas-container">
                <canvas id="room-canvas" tabindex="1"
                    v-on:keydown="handleCanvasKeydown($event)"
                    v-on:mousedown="handleCanvasMousedown($event)"
                    v-on:mousemove="handleCanvasMousemove($event)"
                    ></canvas>
                <div id="infobox-container">
                    <div id="infobox" v-show="isInfoboxVisible">
                        <div id="infobox-area" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_area") }}</div>
                            <div class="infobox-value">{{ $t("ui.infobox_value_area") }}</div>
                        </div>
                        <div id="infobox-roomname" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_room") }}</div>
                            <div class="infobox-value">{{ $t("room."+roomid) }}</div>
                        </div>
                        <div id="infobox-username" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_user_name") }}</div>
                            <div class="infobox-value">{{ myUserID && users && users[myUserID] ? users[myUserID].name :
                                '-' }}</div>
                        </div>
                        <div id="infobox-usercount" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_user_count") }}</div>
                            <div class="infobox-value">{{ serverStats.userCount }}</div>
                        </div>
                    </div>
                    <button id="infobox-button" class="canvas-button-top-right" v-on:click="toggleInfobox"
                        tabindex="-1"></button>
                </div>
            </div>
            <div id="toolbar">
                {{ $t("ui.label_input") }} <input id="input-textbox" type="text"
                    v-on:keydown="handleMessageInputKeydown($event)" tabindex="2" maxlength="500"></input>
                <button id="send-button" v-on:click="sendMessageToServer" tabindex="3">{{ $t("ui.button_send")
                    }}</button>
                <!-- <button v-on:click="currentRoom.originCoordinates.x++">+</button>
                <button v-on:click="currentRoom.originCoordinates.x--">-</button>
                {{ currentRoom.originCoordinates && currentRoom.originCoordinates.x }}
                <button v-on:click="currentRoom.originCoordinates.y++">+</button>
                <button v-on:click="currentRoom.originCoordinates.y--">-</button>
                {{ currentRoom.originCoordinates && currentRoom.originCoordinates.y }}
                <button v-on:click="currentRoom.backgroundOffset.x++">+</button>
                <button v-on:click="currentRoom.backgroundOffset.x--">-</button>
                {{ currentRoom.backgroundOffset && currentRoom.backgroundOffset.x }}
                <button v-on:click="currentRoom.backgroundOffset.y++">+</button>
                <button v-on:click="currentRoom.backgroundOffset.y--">-</button>
                {{ currentRoom.backgroundOffset && currentRoom.backgroundOffset.y }}
                <button v-on:click="currentRoom.scale *= 1.01">+</button>
                <button v-on:click="currentRoom.scale *= 0.99">-</button>
                {{ Math.round(currentRoom.scale * 100) / 100 }} -->
                <button id="toggle-sound" v-on:click="toggleSound">
                    {{ $t(isSoundEnabled ? "ui.button_toggle_sound_on" : "ui.button_toggle_sound_off") }}
                </button>
                <button id="btn-move-left" v-on:click="sendNewPositionToServer('left')">←</button>
                <button id="btn-move-up" v-on:click="sendNewPositionToServer('up')">↑</button>
                <button id="btn-move-down" v-on:click="sendNewPositionToServer('down')">↓</button>
                <button id="btn-move-right" v-on:click="sendNewPositionToServer('right')">→</button>
                <button id="btn-rula" v-on:click="requestRoomList()">{{ $t("ui.button_rula") }}</button>
            </div>
            {{ $t("ui.label_log") }}
            <div id="chatLog">
            </div>


            <div id="video-streams">
                <div v-for="(streamSlot, index) in streams" v-bind:class="{'stream-is-active': streamSlot.isActive}">
                    <hr v-if="index != 0" />
                    <div>
                        {{ $t("ui.label_stream", {index: index+1}) }}<span class="stream-title">{{ streamSlot.title
                            }}</span>
                    </div>
                    <video :id="'local-video-' + index"
                        v-show="streamSlot.isActive && streamSlot.withVideo && index == streamSlotIdInWhichIWantToStream"
                        autoplay muted></video>
                    <video :id="'received-video-' + index"
                        v-show="takenStreams[index] && streamSlot.withVideo && index != streamSlotIdInWhichIWantToStream"
                        autoplay></video>

                    <div v-show="streamSlot.isActive && index != streamSlotIdInWhichIWantToStream">
                        <label for="volume">{{ $t("ui.volume") }}</label>
                        <input type="range" :id="'volume-' + index" v-on:change="changeVolume(index)" name="volume"
                            min="0" max="1" step="0.01" value="1">
                    </div>

                    <div v-if="!streamSlot.isActive && !iAmStreaming && !wantToStream">
                        <button class="start-streaming-button" :id="'start-video-streaming-button-' + index"
                            v-on:click="wantToStartStreaming(index, true, false)">{{ $t("ui.button_video_stream_start")
                            }}</button>
                        <button class="start-streaming-button" :id="'start-sound-streaming-button-' + index"
                            v-on:click="wantToStartStreaming(index, false, true)">{{ $t("ui.button_sound_stream_start")
                            }}</button>
                        <button class="start-streaming-button" :id="'start-video-sound-streaming-button-' + index"
                            v-on:click="wantToStartStreaming(index, true, true)">{{
                            $t("ui.button_video_sound_stream_start") }}</button>
                    </div>
                    <button :id="'stop-streaming-button-' + index"
                        v-if="iAmStreaming && streamSlotIdInWhichIWantToStream == index" v-on:click="stopStreaming">
                        {{ $t("ui.button_stream_stop") }}
                    </button>

                    <button :id="'take-stream-button-' + index"
                        v-if="streamSlot.isReady && !takenStreams[index] && streamSlot.userId != myUserID && !wantToStream"
                        v-on:click="wantToTakeStream(index)">
                        {{ $t("ui.button_stream_take") }}
                    </button>
                    <button :id="'drop-stream-button-' + index"
                        v-if="streamSlot.isReady && takenStreams[index] && streamSlot.userId != myUserID && !wantToStream"
                        v-on:click="wantToDropStream(index)">
                        {{ $t("ui.button_stream_drop") }}
                    </button>
                </div>
            </div>
            <div id="rula-menu" v-if="isRulaPopupOpen">
                <div id="rula-menu-title">{{ $t("ui.rula_menu_title") }}</div>
                <div id="rula-menu-list">
                    <table>
                        <colgroup>
                            <col id="rula-menu-column-room-name" />
                            <col id="rula-menu-column-user-count" />
                            <col id="rula-menu-column-streamers" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{{ $t("ui.rula_menu_column_room_name") }}</th>
                                <th>{{ $t("ui.rula_menu_column_user_count") }}</th>
                                <th>{{ $t("ui.rula_menu_column_streamers") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rula-menu-room" v-for="room in roomList"
                                v-bind:class="{'room-is-selected-for-rula': rulaRoomSelection == room.id}"
                                v-on:click="selectRoomForRula(room.id)">
                                <td>{{ $t("room." + room.id) }}</td>
                                <td>{{ room.userCount }}</td>
                                <td>{{ room.streamers.join(", ") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="rula-menu-buttons">
                    <button v-on:click="rula(rulaRoomSelection)">{{ $t("ui.rula_menu_button_rula") }}</button><button
                        v-on:click="cancelRula()" id="cancel-rula-button">{{ $t("ui.rula_menu_button_cancel")
                        }}</button>
                </div>
            </div>

            <audio id="message-sound" src="message.mp3"></audio>
            <audio id="login-sound" src="login.mp3"></audio>
            <audio id="connection-lost-sound" src="connection-lost.mp3"></audio>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src='third/jquery.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src='scripts/main.js'></script>

    <script>

    </script>
</body>

</html>
