<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='stylesheet' href='style/main.css' />
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ギコっぽいっぽい</title>
</head>

<body>
    <div id="vue-app" v-cloak>
        <div id="login-page" v-if="!loggedIn">
            <header>
                <div>
                    <h1>{{ $t("ui.title") }}</h1>
                    <h2>{{ $t("ui.subtitle") }}</h2>
                </div>
            </header>
            <form id="login-form">
                <input v-if="passwordInputVisible" type="text" v-model="password"></input>
                <div id="area-selection">
                    <label for="gen-selection"><input type="radio" id="gen-selection" value="gen" v-model="areaId"
                            v-on:click="setLanguage('ja')">
                        一般 (_gen) [{{ $t("ui.login_user_count") }}@USER_COUNT_GEN@
                        {{ $t("ui.login_streamer_count") }}@STREAMER_COUNT_GEN@]</label>
                    <label for="for-selection"><input type="radio" id="for-selection" value="for" v-model="areaId"
                            v-on:click="setLanguage('en')">
                        International (_for) [{{ $t("ui.login_user_count") }}@USER_COUNT_FOR@
                        {{ $t("ui.login_streamer_count") }}@STREAMER_COUNT_FOR@]</label>
                </div>
                <div>
                    <label>{{ $t("ui.label_username") }}</label> <input type="text" v-model="username" maxlength="20" />
                </div>
                <div id="character-selection">
                    <label v-for="character in allCharacters" :for="character.characterName + '-selection'"
                        v-show="!character.isHidden">
                        <template v-if="character.isHidden">
                            This is a secret, please don't tell anyone. これは秘密です、誰にも言わないでください。
                        </template>
                        <input type="radio" :id="character.characterName + '-selection'"
                            :value="character.characterName" v-model="characterId">
                        <img :src="'characters/' + character.characterName + '/front-standing.' + character.format"
                            v-bind:class="{'character-selected': character.characterName == characterId}" />
                    </label>
                </div>
                <button v-on:click="login" :disabled="isLoggingIn">Login</button>
            </form>
            <div id="change-log">
                @CHANGE_LOG@
            </div>
        </div>
        <div id="stage" v-if="loggedIn">
            <h2 class="big-red-alert" v-if="connectionLost">
                {{ $t("msg.connection_lost") }}
            </h2>
            <h2 class="big-red-alert" v-if="steppingOnPortalToNonAvailableRoom">
                {{ $t("msg.room_unavailable") }}
            </h2>
            <h2 class="big-red-alert" v-if="pageRefreshRequired">
                {{ $t("msg.page_refresh_required") }}
            </h2>
            <div id="canvas-container">
                <canvas id="room-canvas" tabindex="1" v-on:keydown="handleCanvasKeydown($event)"
                    v-on:mousedown="handleCanvasMousedown($event)"
                    v-on:mousemove="handleCanvasMousemove($event)"></canvas>
                <div id="infobox-container">
                    <div id="infobox" v-show="isInfoboxVisible">
                        <div id="infobox-area" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_area") }}</div>
                            <div class="infobox-value">{{ $t("ui.infobox_value_area") }}</div>
                        </div>
                        <div id="infobox-roomname" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_room") }}</div>
                            <div class="infobox-value">{{ $t("room."+roomid) }}</div>
                        </div>
                        <div id="infobox-username" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_user_name") }}</div>
                            <div class="infobox-value">{{ myUserID && users && users[myUserID] ? users[myUserID].name :
                                '-' }}</div>
                        </div>
                        <div id="infobox-usercount" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_user_count") }}</div>
                            <div class="infobox-value">{{ serverStats.userCount }}</div>
                        </div>
                    </div>
                    <button id="infobox-button" class="canvas-button-top-right" v-on:click="toggleInfobox"
                        tabindex="-1"></button>
                </div>
            </div>
            <div id="toolbar">
                <div id="toolbar-text-input">
                    {{ $t("ui.label_input") }} <input id="input-textbox" type="text"
                        v-on:keydown="handleMessageInputKeydown($event)" tabindex="2" maxlength="500"></input>
                    <button id="send-button" v-on:click="sendMessageToServer" tabindex="3">{{ $t("ui.button_send")
                        }}</button>
                </div>
                <div id="toolbar-buttons">
                    <div>
                        <label for="sound-effect-volume">{{ $t("ui.sound_effect") }}</label>
                        <input type="range" id="sound-effect-volume" v-on:change="changeSoundEffectVolume()"
                            name="sound-effect-volume" min="0" max="1" step="0.01" :value="soundEffectVolume">
                    </div>
                    <button id="btn-move-left" v-on:click="sendNewPositionToServer('left')">←</button>
                    <button id="btn-move-up" v-on:click="sendNewPositionToServer('up')">↑</button>
                    <button id="btn-move-down" v-on:click="sendNewPositionToServer('down')">↓</button>
                    <button id="btn-move-right" v-on:click="sendNewPositionToServer('right')">→</button>
                    <button id="btn-rula" v-on:click="requestRoomList()">{{ $t("ui.button_rula") }}</button>
                </div>
            </div>
            {{ $t("ui.label_log") }}
            <div id="chatLog">
            </div>


            <div id="video-streams">
                <div v-for="(streamSlot, index) in streams" v-bind:class="{'stream-is-active': streamSlot.isActive}">
                    <hr v-if="index != 0" />
                    <div>
                        {{ $t("ui.label_stream", {index: index+1}) }}<span class="stream-title">{{ streamSlot.title
                            }}</span>
                    </div>
                    <video :id="'local-video-' + index"
                        v-show="streamSlot.isActive && streamSlot.withVideo && index == streamSlotIdInWhichIWantToStream"
                        autoplay muted></video>
                    <video :id="'received-video-' + index"
                        v-show="takenStreams[index] && streamSlot.withVideo && index != streamSlotIdInWhichIWantToStream"
                        autoplay></video>
                    <div :id="'vu-meter-container-' + index"
                        v-show="streamSlot.isActive && streamSlot.withSound && index == streamSlotIdInWhichIWantToStream">
                        <div :id="'vu-meter-bar-primary-' + index"></div>
                        <div :id="'vu-meter-bar-secondary-' + index"></div>
                    </div>
                    <div
                        v-show="streamSlot.isActive && streamSlot.withSound && index != streamSlotIdInWhichIWantToStream">
                        <label for="stream-volume">{{ $t("ui.volume") }}</label>
                        <input type="range" :id="'volume-' + index" v-on:change="changeStreamVolume(index)"
                            name="stream-volume" min="0" max="1" step="0.01" value="1">
                    </div>

                    <button class="start-streaming-button" :id="'start-video-streaming-button-' + index"
                        v-if="!streamSlot.isActive && !iAmStreaming && !wantToStream"
                        v-on:click="openStreamPopup(index)">
                        {{ $t("ui.button_stream_start") }}
                    </button>
                    <button :id="'stop-streaming-button-' + index"
                        v-if="iAmStreaming && streamSlotIdInWhichIWantToStream == index" v-on:click="stopStreaming">
                        {{ $t("ui.button_stream_stop") }}
                    </button>

                    <button :id="'take-stream-button-' + index"
                        v-if="streamSlot.isReady && !takenStreams[index] && streamSlot.userId != myUserID && !wantToStream"
                        v-on:click="wantToTakeStream(index)">
                        {{ $t("ui.button_stream_take") }}
                    </button>
                    <button :id="'drop-stream-button-' + index"
                        v-if="streamSlot.isReady && takenStreams[index] && streamSlot.userId != myUserID && !wantToStream"
                        v-on:click="wantToDropStream(index)">
                        {{ $t("ui.button_stream_drop") }}
                    </button>
                </div>
            </div>

            <div class="popup" v-if="isRulaPopupOpen">
                <div class="popup-title">{{ $t("ui.rula_menu_title") }}</div>
                <div class="popup-content">
                    <table class="popup-table popup-selectable-table">
                        <colgroup>
                            <col id="rula-menu-column-room-name" />
                            <col id="rula-menu-column-user-count" />
                            <col id="rula-menu-column-streamers" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{{ $t("ui.rula_menu_column_room_name") }}</th>
                                <th>{{ $t("ui.rula_menu_column_user_count") }}</th>
                                <th>{{ $t("ui.rula_menu_column_streamers") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="room in roomList"
                                v-bind:class="{'popup-row-is-selected': rulaRoomSelection == room.id}"
                                v-on:click="selectRoomForRula(room.id)">
                                <td>{{ $t("room." + room.id) }}</td>
                                <td>{{ room.userCount }}</td>
                                <td>{{ room.streamers.join(", ") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="popup-buttons">
                    <button v-on:click="rula(rulaRoomSelection)">{{ $t("ui.rula_menu_button_rula") }}</button><button
                        v-on:click="closeRulaPopup">{{ $t("ui.popup_button_cancel") }}</button>
                </div>
            </div>

            <div class="popup" v-if="isStreamPopupOpen">
                <div class="popup-title">{{ $t("ui.stream_form_title") }}</div>
                <div class="popup-content">
                    <div class='popup-section'>
                        <span>{{ $t("ui.stream_form_mode") }}</span><input type="radio"
                            id="stream-form-video-sound-mode" value="video_sound" v-model="streamMode"><label
                            for="stream-form-video-sound-mode">{{ $t("ui.stream_form_video_sound_mode") }}</label>

                        <input type="radio" id="stream-form-sound-only-mode" value="sound" v-model="streamMode"><label
                            for="stream-form-sound-only-mode">{{ $t("ui.stream_form_sound_only_mode") }}</label>

                        <input type="radio" id="stream-form-video-only-mode" value="video" v-model="streamMode"><label
                            for="stream-form-video-only-mode">{{ $t("ui.stream_form_video_only_mode") }}</label>
                    </div>
                    <div class='popup-section' v-if="streamMode != 'video'">
                        <span>{{ $t("ui.stream_form_voice_enhancement") }}</span><input type="radio"
                            id="stream-form-voice-enhancement-on" value="on" v-model="streamVoiceEnhancement"><label
                            for="stream-form-voice-enhancement-on">{{ $t("ui.stream_form_voice_enhancement_on")
                            }}</label>

                        <input type="radio" id="stream-form-voice-enhancement-off" value="off"
                            v-model="streamVoiceEnhancement"><label for="stream-form-voice-enhancement-off">{{
                            $t("ui.stream_form_voice_enhancement_off") }}</label>

                        <input type="radio" id="stream-form-voice-enhancement-advanced" value="advanced"
                            v-model="streamVoiceEnhancement"><label for="stream-form-voice-enhancement-advanced">{{
                            $t("ui.stream_form_voice_enhancement_advanced") }}</label>
                        <div class='popup-subsection' v-if="streamVoiceEnhancement == 'advanced'">
                            <div>
                                <input type="checkbox" id="stream-form-echo-cancellation"
                                    v-model="streamEchoCancellation"><label for="stream-form-echo-cancellation">{{
                                    $t("ui.stream_form_echo_cancellation") }}</label>
                            </div>
                            <div>
                                <input type="checkbox" id="stream-form-noise-suppression"
                                    v-model="streamNoiseSuppression"><label for="stream-form-noise-suppression">{{
                                    $t("ui.stream_form_noise_suppression") }}</label>
                            </div>
                            <div>
                                <input type="checkbox" id="stream-form-auto-gain" v-model="streamAutoGain"><label
                                    for="stream-form-auto-gain">{{ $t("ui.stream_form_auto_gain") }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-buttons">
                    <button v-on:click="wantToStartStreaming">{{ $t("ui.stream_form_button_stream") }}</button><button
                        v-on:click="closeStreamPopup">{{ $t("ui.popup_button_cancel") }}</button>
                </div>
            </div>

            <div class="popup" v-if="isWarningToastOpen">
                <div class="popup-title">{{ $t("ui.warning_toast_title") }}</div>
                <div class="popup-content">
                    <div class="popup-section">
                        {{ warningToastMessage }}
                    </div>
                </div>
                <div class="popup-buttons">
                    <button v-on:click="closeWarningToast">{{ $t("ui.popup_button_ok") }}</button>
                </div>
            </div>

            <audio id="message-sound" src="message.mp3"></audio>
            <audio id="login-sound" src="login.mp3"></audio>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src='third/jquery.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src='scripts/main.js'></script>

    <script>

    </script>
</body>

</html>