<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='stylesheet' href='style/main.css' />
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <title>BARギコっぽいONLINE</title>
</head>

<body>
    <div id="vue-app" v-cloak>
        <div id="login-page" v-if="!loggedIn">
            <h1>{{ $t("ui.site_name") }}</h1>
            <form>
                <label>User Name:</label> <input type="text" v-model="username" />
                <button v-on:click="login">Login</button>
            </form>
        </div>
        <div id="stage" v-if="loggedIn">
            <h2 class="big-red-alert" v-if="connectionLost">
                {{ $t("msg.connection_lost") }}
            </h2>
            <h2 class="big-red-alert" v-if="steppingOnPortalToNonAvailableRoom">
                {{ $t("msg.room_unavailable") }}
            </h2>
            <div id="canvas-container">
                <video id="local-video" autoplay muted></video>
                <canvas id="room-canvas" width="721px" height="511px" tabindex="0"
                    v-on:keydown="handleCanvasKeydown($event)"></canvas>
                <div id="infobox-container">
                    <div id="infobox" v-show="isInfoboxVisible">
                        <div id="infobox-area" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_area") }}</div>
                            <div class="infobox-value">{{ $t("ui.infobox_value_area") }}</div>
                        </div>
                        <div id="infobox-roomname" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_room") }}</div>
                            <div class="infobox-value">{{ $t("room."+roomid) }}</div>
                        </div>
                        <div id="infobox-username" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_user_name") }}</div>
                            <div class="infobox-value">{{ username }}</div>
                        </div>
                        <div id="infobox-usercount" class="infobox-line">
                            <div class="infobox-title">{{ $t("ui.infobox_label_user_count") }}</div>
                            <div class="infobox-value">{{ serverStats.userCount }}</div>
                        </div>
                    </div>
                    <button id="infobox-button" class="canvas-button-top-right"
                        v-on:click="toggleInfobox"></button>
                </div>
            </div>
            <div id="received-video-container" v-show="someoneIsStreaming && !iAmStreaming">
                {{ $t("ui.label_streamer") }} {{ currentStreamerName }}
                <div id="received-video-1"></div>
            </div>


            <div id="toolbar">
                {{ $t("ui.label_input") }} <input id="input-textbox" type="text"
                    v-on:keydown="handleMessageInputKeydown($event)"></input>
                <button id="send-button"
                    v-on:click="sendMessageToServer">{{ $t("ui.button_send") }}</button>

                <div id="movement-buttons">
                    <button id="btn-move-left" v-on:click="sendNewPositionToServer('left')">←</button>
                    <button id="btn-move-up" v-on:click="sendNewPositionToServer('up')">↑</button>
                    <button id="btn-move-down" v-on:click="sendNewPositionToServer('down')">↓</button>
                    <button id="btn-move-right" v-on:click="sendNewPositionToServer('right')">→</button>
                </div>

                <button id="start-streaming-button"
                    v-show="roomAllowsStreaming && !someoneIsStreaming && !iAmStreaming && !wantToStream"
                    v-on:click="wantToStartStreaming">{{ $t("ui.button_stream_start") }}</button>
                <button id="stop-streaming-button"
                    v-show="iAmStreaming"
                    v-on:click="stopStreaming">{{ $t("ui.button_stream_stop") }}</button>
                <button v-on:click="switchLanguage">{{ $t("ui.button_switch_language") }}</button>
                <!-- <button id="logout">Logout</button> -->
            </div>
            {{ $t("ui.label_log") }}
            <div id="chatLog">
            </div>

            <audio id="message-sound" src="message.mp3"></audio>
            <audio id="login-sound" src="login.mp3"></audio>
            <audio id="connection-lost-sound" src="connection-lost.mp3"></audio>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src='third/jquery.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src='scripts/main.js'></script>

    <script>

    </script>
</body>

</html>
