body {
    background-color: #354F52;
    color: #CAD2C5;
}

#chatLog {
    background-color: #354F52;
}
.message {
    background-color: #354F52;
    border-top: 1px solid gray;
    padding-top: 3px;
    padding-bottom: 3px;
}

.message a {
    color: #84A98C;
}

.message-author {
    padding-right: 2px;
    color: #84A98C;
}

.message:nth-child(even) {
    background-color: #2F3E46;
}

input[type="text"],
textarea {

    background-color: #2F3E46;
    color: #CAD2C5;
}

button {
    background-color: #2F3E46;
    color: #CAD2C5;
}

.popup {
    background-color: #2F3E46;
    color: #CAD2C5;
}

.popup .popup-title {
    background-color: #2F3E46;
    color: #CAD2C5;
}

.popup th {
    background-color: #2F3E46;
    color: #CAD2C5;
}

.popup-selectable-table tr:hover td {
    background-color: #354F52;
}

.popup-selectable-table tr.popup-row-is-selected td {
    color: #CAD2C5;
    background-color: #354F52;
}