body
{
    background-color: #c0c0c0;
    margin: 0;
}

[v-cloak] 
{
    display: none;
}

#room
{
    position: relative;
}

#chatLog
{
    background-color: white;
    height: 150px;
    overflow-y: auto;
}

#local-video
{
    position: absolute;
    width: 219px;
    top: 18px;
    right: 0px;
}
#received-video-container
{
    position: absolute;
    top: 18px;
    left: 0px;
}

#received-video-container video
{
    width: 219px;
    position: absolute;
    top: 20px;
    left: 0px;
}

.big-red-alert
{
    position: absolute;
    z-index: 100;
    color: #d00;
}

#stage
{
    display: flex;
    flex-direction: column;;
    width: 100%;
    height: 100%;
}

#room-canvas
{
    width: 100%;   
}

#canvas-container
{
    position: relative;
    max-width: 700px;
}

#movement-buttons
{
    display: inline;
}

#toolbar
{
    max-width: 700px;
    display: flex;
}

#input-textbox
{
    flex-grow: 1;
}