body
{
	background-color: #c0c0c0;
	margin: 0;
}

#room
{
	position: relative;
}

.square
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 80px;
	height: 40px;
}

.square img
{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	bottom: 17px;
}
