#page-container.theme-dark {
    background-color: #28282b;
    color: #f0f0f0;
    scrollbar-color: #686868 #28282b;
}

.theme-dark h1 a {
    color: #f0f0f0;
}

.theme-dark .message a {
    color: #c2cde1;
}

.theme-dark .message-author {
    padding-right: 2px;
    color: #c2cde1;
}

.theme-dark .log-dividers .message {
    border-color: #666666;
}

.theme-dark .log-dividers .message:nth-child(even) {
    background-color: #28282b;
}

.theme-dark input[type="text"],
.theme-dark textarea,
.theme-dark #chatLog,
.theme-dark #login-page button,
.theme-dark #toolbar button,
.theme-dark .stream-buttons button,
.theme-dark .chessboard-slot-wrapper button,
.theme-dark .popup button {
    background-color: #38383b;
    color: #f0f0f0;
    border: 1px solid #686868;
}

.theme-dark ::-webkit-scrollbar {
    background-color: #28282b;
}

.theme-dark ::-webkit-scrollbar-track {
    background-color: #28282b;
}

.theme-dark ::-webkit-scrollbar-thumb {
    background-color: #686868;
}

.theme-dark ::-webkit-scrollbar-corner {
    background-color: #28282b;
}

.theme-dark .stream-buttons button.red-button,
.theme-dark .chessboard-slot-wrapper button.red-button
{
    background-color: #754848;
}

.theme-dark .popup {
    background-color: #38383b;
    color: #f0f0f0;
}

.theme-dark .popup .popup-titlebar {
    background-color: #38383b;
    color: #f0f0f0;
}

.theme-dark .popup th {
    background-color: #38383b;
    color: #f0f0f0;
}

.theme-dark .popup-selectable-table tr:hover td {
    background-color: #242424;
}

.theme-dark .popup-selectable-table tr.popup-row-is-selected td {
    color: #f0f0f0;
    background-color: #242424;
}

.theme-dark .popup-row-is-selected
{
    color: black;
}

.theme-dark .arrow-button-left
{
    background-image: url("../north_west_black_24dp.dark.svg");
}
.theme-dark .arrow-button-up
{
    background-image: url("../north_east_black_24dp.dark.svg");
}
.theme-dark .arrow-button-down
{
    background-image: url("../south_west_black_24dp.dark.svg");
}
.theme-dark .arrow-button-right
{
    background-image: url("../south_east_black_24dp.dark.svg");
}
